/* Styling for Bookshelf App */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.container {
  width: 70%;
  margin: 50px auto;
}
h1 {
  text-align: center;
  font-weight: bold;
  font-style: italic;
  font-size: 2.5em;
}
.card {
  background-color: #fff;
  border-radius: 5px;
  padding: 30px;
  margin-top: 30px;
}
.card h2 {
  text-align: center;
}
.card-insert {
  background-color: #fff;
  border-radius: 5px;
  padding: 10px 20px 40px 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}
.card-insert form {
  display: flex;
  flex-direction: column;
}
.card-insert form input[type="text"],
.card-insert form input[type="number"] {
  margin: 5px;
  padding: 8px;
}
.card-insert form label {
  margin: 20px 5px 5px 5px;
}
.card-insert form .checkbox-finished {
  display: flex;
  flex-direction: row;
}
.card-insert form input[type="checkbox"] {
  margin: 20px 0 0 5px;
  width: 18px;
  height: 18px;
}
.card-insert form button {
  margin-top: 20px;
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  transition: 0.5s linear;
}
.card-insert form button:hover {
  opacity: 0.8;
}
.container .card .h2-search {
  margin-top: 30px;
}
.card-search {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}
.card-search label {
  margin-top: 12px;
}
.card-search #input-search {
  margin: 5px;
  padding: 8px;
  width: 90%;
}
@media screen and (max-width: 499px) {
  .card-search {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px 0;
  }
}
.card-search #button-search {
  margin-top: 5px;
  padding: 0 15px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  transition: 0.5s linear;
  height: 35px;
}
.card-search #button-search:hover {
  opacity: 0.8;
}
.shelves {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  gap: 5px;
}
.shelves .shelf-right,
.shelves .shelf-left {
  width: 100%;
}
.shelves .shelf {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.shelves .shelf .card-finished-unfinished {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  padding: 20px;
  width: 100%;
}
.shelves .shelf .card-finished-unfinished p {
  margin-top: 10px;
}
.shelves .shelf .card-finished-unfinished .button-edit-delete {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  gap: 10px;
}
.shelves .shelf .card-finished-unfinished .button-edit-delete .button-edit {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  transition: 0.5s linear;
}
.shelves
  .shelf
  .card-finished-unfinished
  .button-edit-delete
  .button-edit:hover {
  opacity: 0.8;
}
.shelves .shelf .card-finished-unfinished .button-edit-delete .button-delete {
  padding: 10px 15px;
  background-color: rgb(220, 13, 13);
  color: white;
  border: none;
  cursor: pointer;
  transition: 0.5s linear;
}
.shelves
  .shelf
  .card-finished-unfinished
  .button-edit-delete
  .button-delete:hover {
  opacity: 0.8;
}
@media screen and (max-width: 850px) {
  .shelves {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px 0;
  }
}
@media screen and (max-width: 465px) {
  .shelves .shelf .card-finished-unfinished .button-edit-delete {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 10px 0;
  }
  .shelves .shelf .card-finished-unfinished h3,
  .shelves .shelf .card-finished-unfinished p {
    text-align: center;
  }
}
